@font-face {
    font-family: "IF";
    src: url("../src/font/思源黑体/NotoSansHans-DemiLight.otf")
}
body {
    font-family: "IF","PingFang SC", "Microsoft Yahei";
}

#id-audio-player {
    display: none;
}

i {
    margin: 10px;
}

.mode {
    background: lightgreen;
}

.none {
    display: none;
}

.vertical-center {
    top: 50%;
    transform: translateY(-50%);
}

.side {
    font-family: "Microsoft Yahei";
    float: left;
    position: fixed;
    background-color: #F5F5F5;
    font-size: 1rem;
    height: 100%;
    width: 20%;
    overflow: hidden;
    background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
}

.side ul {
    margin: 0;
    padding: 3rem 2rem;
}

.side h1 {
    color: #fff;
    display: inline-block;
    padding-top: 5rem;
    padding-left: 0rem;
    margin: 0;
}

.side ul li{
    font-size: 4rem;
    font-weight: lighter;
    color: #EBEBEC;
    padding: 2rem;
}

.side i{
    font-size: 5.6rem;
    color: #fff;
    padding: 2rem;
    margin: 0;
}
/*=========
  默认样式
  =========*/

html {
    font-size: 62.5%;   /* 默认字体大小，rem 以此为基准 */
    color:#222;         /* 默认字体颜色 */
}

/* 选中字体的默认效果 */
::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

ul {
    margin:0;
    pading:0;
}

li {
    list-style: none; /* 去掉小圆点 */
}

/*=========
  工具样式
  =========*/

.table{
    display: table;
    margi-left:23%;
    width: 50%;
}

.table-row{
    display: table-row;
}

.table-cell{
    vertical-align: middle;
    display: table-cell;
}
